<div class='table-container'>
  <div class='table-operations'>
    <button (click)='onAddExpense()' nz-button nzType='primary'>Create expense</button>
    <button (click)='resetSortAndFilters()' nz-button nzType='default'>Clear sorters</button>
    <div *ngIf='totalCount' class='expenses-count'>
      <span>Total: {{ totalCount }} expense{{ totalCount > 1 ? 's' : null}}</span>
    </div>
  </div>
  <nz-table #filterTable [nzData]='expenses'
            [nzLoading]='loading'
            [nzNoResult]='emptyState'
            [nzPageSize]='filters._limit'
            [nzShowPagination]='false' [nzTotal]='totalCount' nzTableLayout='fixed'>
    <thead>
    <tr>
      <th
        *ngFor='let column of columns; trackBy: trackByName'
        [(nzSortOrder)]='column.sortOrder'
        [nzShowSort]='column.showSort'
        [nzSortFn]='column.sortFn'
      >
        {{ column.name }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let data of filterTable.data'>
      <td>{{ data.purchasedOn | date: 'MMM d, h:mm a' }}</td>
      <td>{{ data.nature }}</td>
      <td>
        <span
          [nzTooltipTitle]="data.originalAmount.amount && data.originalAmount.currency !== 'EUR' ?
        'Original amount: ' + (data.originalAmount.amount | currency: data.originalAmount.currency : 'symbol' : '1.0-0') : null"
          nz-tooltip
          nzTooltipPlacement='bottom'>
          {{ data.convertedAmount.amount | currency: data.convertedAmount.currency : 'symbol' : '1.0-0' }}
        </span>
      </td>
      <td>
        <span [nzTooltipTitle]='data.comment.length > 150 ? data.comment : null'
              nz-tooltip
              nzTooltipPlacement='bottom'>
          {{ data.comment | nzEllipsis: 150 }}
        </span>
      </td>
      <td>{{ data.createdAt | date: 'MMM d, h:mm a' }}</td>
      <td>{{ data.lastModifiedAt | date: 'MMM d, h:mm a' }}</td>
      <td class='actions'>
        <a (click)='onUpdateExpense(data)'>
          Edit
        </a>
        <nz-divider nzType='vertical'></nz-divider>
        <a (nzOnConfirm)='onDeleteExpense(data.id)' nz-popconfirm nzPopconfirmTitle='Sure to delete?'>
          Delete
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>

  <div class='pagination'>
    <nz-pagination
      (nzPageIndexChange)='onFilterUpdate({type: tableFilters.PAGE_INDEX, value: $event})'
      (nzPageSizeChange)='onFilterUpdate({type: tableFilters.PAGE_SIZE, value: $event})'
      [nzPageIndex]='filters._page'
      [nzPageSizeOptions]='[5, 10, 15, 20]'
      [nzPageSize]='filters._limit'
      [nzSize]="'default'"
      [nzTotal]='totalCount'
      nzShowSizeChanger
    >
    </nz-pagination>
  </div>
</div>

<ng-template #emptyState>
  <nz-empty
    [nzNotFoundContent]='contentTpl'
    [nzNotFoundFooter]='footerTpl'
    class='empty-state'
    nzNotFoundImage='https://cdn-icons-png.flaticon.com/512/2171/2171476.png'
  >
    <ng-template #contentTpl>
        <span class='title'>
          You've not added any expenses yet
      <small>Would you like to add one now?</small>
        </span>
    </ng-template>
    <ng-template #footerTpl>
      <button (click)='onAddExpense()' nz-button nzType='primary'>Create expense</button>
    </ng-template>
  </nz-empty>
</ng-template>
