<div class='table-container'>
  <div class='table-operations'>
    <button (click)='onAddExpense()' nz-button nzType='primary'>Create expense</button>
    <button (click)='resetSortAndFilters()' nz-button nzType='primary'>Clear sorters</button>
    <div *ngIf='totalCount' class='expenses-count'>
      <span>{{ totalCount }} expenses</span>
    </div>
  </div>
  <nz-table #filterTable [nzData]='expenses'
            [nzLoading]='loading'
            [nzPageSize]='5'
            [nzShowPagination]='false' [nzTotal]='totalCount' nzTableLayout='fixed'>
    <thead>
    <tr>
      <th
        *ngFor='let column of columns; trackBy: trackByName'
        [(nzSortOrder)]='column.sortOrder'
        [nzShowSort]='column.showSort'
        [nzSortFn]='column.sortFn'
      >
        {{ column.name }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let data of filterTable.data'>
      <td>{{ data.purchasedOn | date: 'MMM d, h:mm a' }}</td>
      <td>{{ data.nature }}</td>
      <td>
        <span
          [nzTooltipTitle]="data.originalAmount.amount && data.originalAmount.currency !== 'EUR' ?
        'Original amount: ' + (data.originalAmount.amount | currency: data.originalAmount.currency : 'symbol' : '1.0-0') : null"
          nz-tooltip
          nzTooltipPlacement='bottom'>
          {{ data.convertedAmount.amount | currency: data.convertedAmount.currency : 'symbol' : '1.0-0' }}
        </span>
      </td>
      <td>
        <span [nzTooltipTitle]='data.comment.length > 150 ? data.comment : null'
              nz-tooltip
              nzTooltipPlacement='bottom'>
          {{ data.comment | nzEllipsis: 150 }}
        </span>
      </td>
      <td>{{ data.createdAt | date: 'MMM d, h:mm a' }}</td>
      <td>{{ data.lastModifiedAt | date: 'MMM d, h:mm a' }}</td>
      <td class='actions'>
        <a (click)='onUpdateExpense(data)'>
          Edit
        </a>
        <nz-divider nzType='vertical'></nz-divider>
        <a (nzOnConfirm)='onDeleteExpense(data.id)' nz-popconfirm nzPopconfirmTitle='Sure to delete?'>
          Delete
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>

  <div class='pagination'>
    <nz-pagination
      [nzSize]="'default'"
      [nzTotal]='totalCount'
      [nzPageIndex]='filters._page'
      [nzPageSize]='filters._limit'
      (nzPageIndexChange)='onFilterUpdate({type: "pageIndex", value: $event})'
      (nzPageSizeChange)='onFilterUpdate({type: "pageSize", value: $event})'
    >
    </nz-pagination>
  </div>
</div>
