<form (ngSubmit)='submitForm()' [formGroup]='validateForm' nz-form nzLayout='vertical'>
  <nz-form-item>
    <nz-form-label [nzSm]='6' [nzXs]='24' nzFor='purchasedOn' nzRequired>Purchase date</nz-form-label>
    <nz-form-control [nzSm]='14' [nzXs]='24' nzErrorTip='You should choose a date'>
      <nz-date-picker formControlName='purchasedOn'></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label
      nzFor='nature'
      nzRequired
      nzTooltipTitle='What was the purpose of the expense'
    >
      <span>Nature</span>
    </nz-form-label>
    <nz-form-control nzErrorTip='Please fill the purpose of the expense'>
      <input formControlName='nature' id='nature' maxlength='120' nz-input placeholder='Restaurant, parking...' />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label
      [nzSm]='6'
      [nzXs]='24'
      nzFor='comment'
      nzRequired
      nzTooltipTitle='Explain the nature of your expense'
    >
      <span>Comment</span>
    </nz-form-label>
    <nz-form-control nzErrorTip='Please add a comment to explain your expense'>
      <textarea formControlName='comment' id='comment' maxlength='600' nz-input></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-collapse nzAccordion>
    <nz-collapse-panel
      [nzActive]='true'
      [nzHeader]="'You used another currency?'">
      <nz-form-item>
        <nz-form-label nzFor='originalAmount'>
          Expense amount
        </nz-form-label>
        <nz-form-control nzErrorTip='Please insert your expense'>
          <nz-input-group [nzAddOnBefore]='originalCurrencyTemplate'>
            <ng-template #originalCurrencyTemplate>
              <nz-select formControlName='originalCurrency' nzShowSearch>
                <nz-option *ngFor='let currency of currencies' [nzLabel]='currency' [nzValue]='currency'></nz-option>
              </nz-select>
            </ng-template>
            <nz-input-number #originalAmount [nzMin]='1'
                             [nzStep]='1' formControlName='originalAmount'></nz-input-number>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div class='button-container'>
        <button (click)='handleConversionProcess(originalAmount?.displayValue); $event.preventDefault()'
                [nzLoading]='conversionLoading' nz-button>Convert
        </button>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <nz-form-item>
    <nz-form-label nzFor='convertedAmount' nzRequired>Expense amount</nz-form-label>
    <nz-form-control nzErrorTip='Please insert your expense amount'>
      <nz-input-group [nzAddOnBefore]='conversionCurrencyTemplate'>
        <ng-template #conversionCurrencyTemplate>
          <nz-select [nzDisabled]='true' formControlName='conversionCurrency'>
            <nz-option [nzLabel]="'EUR'" [nzValue]="'EUR'"></nz-option>
          </nz-select>
        </ng-template>
        <div
          [nzTooltipTitle]="(amountInput.disabled$ | async) ? 'This amount is converted automatically' : null "
          nz-tooltip
          nzTooltipPlacement='bottom'>
          <nz-input-number #amountInput [nzDisabled]='!!editedExpense?.convertedAmount?.amount' [nzMin]='1'
                           [nzStep]='1'
                           formControlName='convertedAmount'></nz-input-number>
        </div>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>
