[nz-form] {
  max-width: 600px;
  width: 100%;
}

.phone-select {
  width: 70px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 90px;
}

#comment {
  width: 100%;
}
