<form (ngSubmit)='submitForm()' [formGroup]='validateForm' nz-form nzLayout='vertical'>
  <nz-form-item>
    <nz-form-label [nzSm]='6' [nzXs]='24' nzFor='purchasedOn' nzRequired>Purchase date</nz-form-label>
    <nz-form-control [nzSm]='14' [nzXs]='24' nzErrorTip='You should choose a date'>
      <nz-date-picker formControlName='purchasedOn'></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label
      [nzSm]='6'
      [nzXs]='24'
      nzFor='nature'
      nzRequired
      nzTooltipTitle='What was the purpose of the expense'
    >
      <span>Nature</span>
    </nz-form-label>
    <nz-form-control [nzSm]='14' [nzXs]='24' nzErrorTip='Please fill the purpose of the expense'>
      <input formControlName='nature' id='nature' nz-input placeholder='Restaurant, parking...' />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label
      [nzSm]='6'
      [nzXs]='24'
      nzFor='comment'
      nzRequired
      nzTooltipTitle='Explain the nature of your expense'
    >
      <span>Comment</span>
    </nz-form-label>
    <nz-form-control [nzSm]='14' [nzXs]='24' nzErrorTip='Please add a comment to explain'>
      <textarea formControlName='comment' id='comment'></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]='14' [nzXs]='24' nzFor='originalAmount' nzRequired>Original amount</nz-form-label>
    <nz-form-control [nzSm]='14' [nzXs]='24' nzErrorTip='Please insert your expense'>
      <nz-input-group [nzAddOnBefore]='originalCurrencyTemplate'>
        <ng-template #originalCurrencyTemplate>
          <nz-select formControlName='originalCurrency' nzShowSearch>
            <nz-option *ngFor='let currency of currencies' [nzLabel]='currency' [nzValue]='currency'></nz-option>
          </nz-select>
        </ng-template>
        <nz-input-number [nzMax]='100000' [nzMin]='1' [nzStep]='1' formControlName='originalAmount'></nz-input-number>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]='14' [nzXs]='24' nzFor='convertedAmount' nzRequired>Converted amount</nz-form-label>
    <nz-form-control [nzSm]='14' [nzXs]='24' nzErrorTip='Please insert your converted expense'>
      <nz-input-group [nzAddOnBefore]='conversionCurrencyTemplate'>
        <ng-template #conversionCurrencyTemplate>
          <nz-select formControlName='conversionCurrency' nzShowSearch>
            <nz-option *ngFor='let currency of currencies' [nzLabel]='currency' [nzValue]='currency'></nz-option>
          </nz-select>
        </ng-template>
        <nz-input-number [nzMax]='100000' [nzMin]='1' [nzStep]='1' formControlName='convertedAmount'></nz-input-number>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>
