<cleemy-expense-table (addExpense)='addExpense()'
                      (deleteExpense)='deleteExpense($event)'
                      (filterUpdate)='filterUpdate($event)'
                      (updateExpense)='updateExpense($event)'
                      *ngIf='!(error$ | async) && !!(expenses$ | async); else states'
                      [expenses]='(expenses$ | async)'
                      [filters]='filters'
                      [loading]='(loading$ | async)'
                      [totalCount]='(totalCount$ | async) '></cleemy-expense-table>

<ng-template #states>
  <div *ngIf='(loading$ | async)' class='loader'>
    <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
  </div>
  <div *ngIf='(error$ | async)' class='error'>
    <div class='error'>
      <nz-alert
        [nzDescription]='"If the problem persists try refreshing."'
        nzCloseable
        nzMessage='Something went wrong'
        nzShowIcon
        nzType='error'
      ></nz-alert>
    </div>
  </div>
</ng-template>
