.table-container {
  padding: 50px;

  .table-operations {
    margin-bottom: 16px;
  }

  .table-operations > button {
    margin-right: 8px;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 143px;
    gap: 8px;
  }
}
