@import "~ng-zorro-antd/ng-zorro-antd.dark.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

