/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

.ant-table-wrapper {
  min-width: 845px;
}

.ant-page-header-heading-title {
  cursor: pointer;
}

.ant-input-group-addon {
  width: 50%;
}

.ant-input-number {
  width: 100%;
}
